.footer_container {
    display: flex;
    flex-direction: column;
}

.footer_second_container {
    margin-top: auto;    
}

.footer_row_container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    text-align: center;
}


.footer_img {
    flex-shrink: 1;
    display: inline-block;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    overflow: auto;
    margin: 5px;
}