.nav_background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 25px;


    background-image: url("/assets/images/bg_light.jpg");
    background-size: cover;
    background-position: center;

}

.nav_name {
    font-size: 1.8em;
    color: #bbcfe1;

    font-weight: 900;
    margin-left: 40px;
    padding: 10px;
    text-decoration: none; 
    font-style: small-caps;   
}

.nav_font {
    font-weight: 400;    
    font-size: 1.2em;
    color: #bbcfe1;
    text-decoration: none;
}

.nav_tab_margin {
    margin-right: 40px;
}