.contact_form {
    margin: 20px;
}

.contact_input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50em;
    border-color: #bbcfe1;
    border-width: 1px;
}

.contact_message {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 50em;
    height: 30vh;
    border-color: #bbcfe1;    
    border-width: 1px;    
}

.contact_button {
    background-color: #bbcfe1;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #bbcfe1;
    border-radius: 5px;
    box-shadow: 1px 1px #bbcfe1;    
}

.error-text {
    color: red;
}

.user-text {
    color: green;
}

.thank-img {
    width: 100px;

    overflow: auto;
    margin-left: 20px;
}