.portfolio_img {
    flex-shrink: 1;
    display: inline-block;
    justify-content: center;
    align-items: center;

    width: 20em;
    height: 15em;
    overflow: auto;
    margin: 5px;
}

.portfolio_card {
    border-style: none;
}

.opacity_30 {
    flex-shrink: 1;
    display: inline-block;
    justify-content: center;
    align-items: center;

    width: 20em;
    height: 15em;
    overflow: auto;
    margin: 5px;

    opacity: 30%;
}